# Wails build output
build/bin/
installer/

# Frontend
frontend/node_modules/
frontend/dist/

# Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out
go.sum

# Wails dev
frontend/wailsjs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp / update files
*_pending.exe
*_update.bat
GAT_update*